.appmas{
  background: #fffafa;
  padding: 10px 20px;
  width: 400px;
  border: 2px solid #333;
  border-radius: 8px;
}
#Start {
  display       : inline-block;
  float: left;
  width         : 115px;
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 4px 8px;   /* 余白       */
  background    : #dddddd;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  border-color: #4444ff;
  border-radius: 3px;
}
#Start:hover {
  opacity       : 0.8;         /* カーソル時透明度 */
  border-width: 1px;
}

#Stop{
  width: 50px;
  margin-left: 5px;
}

.app{
  width: 380px;
  padding:3px 0px;
}

#canvasOutput {
  background: #222;
}
